@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --primary: #7A9D8C;
    --secondary: #ABA8BF;

}

p {
    color: #050706;
    font-family: Roboto;
}

h2 {
    font-family: Roboto;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 auto;
    /* max-width: 1440px; */
    margin: 0 auto;
}

.images {
    padding: 1.25rem;
    gap: 1.06rem;
    margin-top: 40px;
}

.images > img {
    width: 40%;
    height: auto;

    max-width: max-content;

    border-radius: 10px;
}

/* --------------------------- */

.plusy {
    padding: 0 3.2rem;
    flex-direction: column;
    align-items: center;
}

.plusy > h2 {
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 20px;
}

.plusy > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 2.35rem;
}

.plusy > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 10rem;
    gap: 1.25rem;
}

.plusy img {
    width: fit-content;
    object-fit: none;
}

.plusy p {
    color: #050706;
    text-align: center;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}


/* --------------------------- */

.dum1 {
    padding: 1.5rem 3.2rem;
    margin-top: 20px;
    max-width: 800px;
}

.dum1 > div {
    background: linear-gradient(42deg, #ABA8BF 0%, #F5E9F3 38.5%);
    margin: -10px 0 0 0;
    padding: 1.25rem;
    border-radius: 0.625rem;
}

.dum1 > img {
    border-radius: 0.625rem;
    width: 100%;
    z-index: 1;
}

.dum1 p {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

/* --------------------------- */

.dum2 {
    padding: 1.5rem 3.2rem;
    gap: 1rem;
    flex-direction: row-reverse;
    max-width: 800px;
}

.dum2 > .img-container {
    position: relative;
    border-radius: 0.625rem;
    padding: 0;
    max-height: fit-content;
}

.dum2 > .img-container > img {
    border-radius: inherit;
}

.dum2 .img-container > div {
    display: none;
    position: absolute;
    right: 4rem;
    top: 4rem;
    background: linear-gradient(42deg, #ABA8BF 0%, #F5E9F3 38.5%);
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    z-index: -1;
    border-radius: inherit;
}


.dum2 p {
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 171.429% */
}

/* --------------------------- */

@media (min-width: 768px) {
    .images {
        gap: 2rem;
    }

    .plusy {
        gap: 4rem;
        margin-top: 120px;
    }

    .plusy > h2 {
        font-size: 2.25rem;
        line-height: 2.25rem; /* 100% */
    }

    .plusy > div {
        max-width: 1100px;
        width: 100%;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }

    .plusy > div > div:nth-child(5) {
        grid-row-start: 1;
        grid-column-start: 3;
    }
    
    .plusy > div > div:nth-child(6) {
        grid-row-start: 1;
        grid-column-start: 4;
    }

    .plusy p {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media (width >= 1024px) {
    .dum1 {
        margin-top: 8rem;
        flex-wrap: nowrap;
        max-width: calc(1120px + 6.4rem);
        padding-block: 0;
    }

    .dum1 > div {
        margin: 0 0 0 -2.375rem;
        padding: 4rem;
        padding-left: 7rem;
    }

    .dum1 p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .dum2 {
        margin-top: 40px;
        flex-wrap: nowrap;
        max-width: calc(1120px + 6.4rem);
        width: 100%;
    }

    .dum2 p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .dum2 img {
        max-width: max-content;
        width: 100%;]
    }

    .dum2 > .img-container {
        padding: 0 0 4rem 4rem;
        width: 60%;
    }

    .dum2 .img-container > div {
        display: block;
    }

    .dum2 > div:last-child {
        padding: 1rem 2rem 0 0;
        width: 40%;
    }
}