*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --Accent: #4E4E91;
}

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 1440px;
    height: 1174px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home {
    display: flex;
    flex-direction: column;
    height: 640px;
    max-width: inherit;
}

.home-header {
    display: flex;
    position: fixed;
    width: 100%;
    max-width: inherit;
    height: 80px;
    justify-content: space-between;

    background-color: #fff;
}

img[alt=logo1] {
    height: fit-content;
    margin-top: 18.9px;
    margin-left: 100px;
}

.home-header > div {
    display: flex;
    justify-content: space-between;
}

.home-menu {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 16.922px;

    margin-top: 37.82px;
}

a.menu-link {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.075px;

    color: #4E4E91;
    text-decoration: none;
}

a.home-buy {
    display: flex;
    width: 130px;
    height: 39.82px;
    margin-left: 47px;
    margin-top: 25.88px;
    margin-right: 125px;

    background-color: #FF4800;

    align-items: center;
    justify-content: center;
    gap: 5px;

    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

main {
    display: flex;
    align-items: center;
    height: 640px;
    margin-top: 100px;
    margin-left: 100px;
}

.main-text {
    color: var(--Dark-Text, #1A1A3F);
    font-family: Rubik;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 104.167% */

    width: 463px;
}

.additional-text {
    color: var(--Light-Text, #555);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.08px;

    width: 405px;
}